[submodule "sm/munq"]
	path = sm/munq
	url = https://github.com/aggieben/munq
[submodule "sm/miniprofiler-dotnet"]
	path = sm/miniprofiler-dotnet
	url = https://github.com/aggieben/dotnet
[submodule "sm/grandejs"]
	path = sm/grandejs
	url = https://github.com/aggieben/grande.js
[submodule "sm/medium.js"]
	path = sm/medium.js
	url = git@github.com:aggieben/Medium.js.git
