[submodule "sm/munq"]
	path = sm/munq
	url = https://github.com/aggieben/munq
[submodule "sm/grandejs"]
	path = sm/grandejs
	url = https://github.com/aggieben/grande.js
[submodule "sm/medium.js"]
	path = sm/medium.js
	url = git@github.com:aggieben/Medium.js.git
[submodule "sm/rangy.js"]
	path = sm/rangy.js
	url = git@github.com:timdown/rangy.git
[submodule "sm/undo.js"]
	path = sm/undo.js
	url = git@github.com:jzaefferer/undo.git
[submodule "sm/StackExchange.Redis"]
	path = sm/StackExchange.Redis
	url = https://github.com/StackExchange/StackExchange.Redis.git
[submodule "sm/MiniProfiler"]
	path = sm/MiniProfiler
	url = git@github.com:aggieben/MiniProfiler.net.git
