.bo-popover {
  min-height: 25px;
  min-width: 50px;
  z-index: 100;
  position: absolute;
  padding: 10px;
  background-color: black;
  border: 4px solid #191919;
  border-radius: 4px;
}
.bo-popover:after,
.bo-popover:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.bo-popover:before {
  border-top-color: #191919;
  border-width: 15px;
  margin-left: -15px;
}
.bo-popover:after {
  border-top-color: black;
  border-width: 11px;
  margin-left: -11px;
}
.bo-popover input {
  border: 0;
  background-color: black;
  color: lightgray;
  outline: none;
}
