@import url(http://fonts.googleapis.com/css?family=Lobster|Merriweather:400,900italic,900,700italic,700,400italic,300italic,300&subset=latin,latin-ext);
body {
  padding-top: 0px;
  margin: 0px;
  padding-bottom: 20px;
  background-color: #111;
}
.container {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
}
.top-bar {
  width: 100%;
  height: 60px;
}
.left-sidebar {
  float: left;
  width: 250px;
  margin: 2px;
  border: 1px black;
}
.right-sidebar {
  float: left;
  width: 350px;
  margin: 2px;
  border: 1px blue;
}
main {
  display: block;
  float: left;
  width: 800px;
  /*margin: auto;*/
  border: 1px green;
}
main article {
  min-height: 200px;
}
main article header h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 25px;
}
main article header h1.title {
  font-family: 'Lobster', cursie;
  min-width: 200px;
  min-height: 50px;
}
main article header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0px;
}
main article header h2.subtitle {
  font-family: 'Merriweather', serif;
  min-width: 200px;
  /*min-height: 30px;*/
}
main article section {
  font-family: 'Merriweather', serif;
  min-height: 200px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  /*padding-left: 15px;
    padding-right: 15px;*/
}
/* Set width on the form input elements since they're 100% wide by default */
input.post-title {
  width: 100%;
}
/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.form-group .btn {
  margin-right: 15px;
}
.form-group .status-text.failure {
  color: #b94a48;
}
.form-group .status-text.success {
  color: #306d17;
}
.profile {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.has-svg-icon img {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.has-svg-icon svg {
  margin: 20%;
  height: 50%;
  width: 50%;
}
.has-svg-icon path {
  fill: lightgray;
}
.has-svg-icon:hover path {
  fill: grey;
}
.tile {
  height: 200px;
  width: 200px;
  cursor: pointer;
  background-color: #222;
  color: #ccc;
  margin-bottom: 12px;
}
.tile .subtitle {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  font-size: medium;
  top: -29px;
  padding: 5px;
  width: 100%;
  left: 121px;
}
.tile img {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.tile svg {
  margin: 20%;
  height: 50%;
  width: 50%;
}
.tile path {
  fill: lightgray;
}
.tile:hover path {
  fill: grey;
}
.containertile {
  height: 200px;
  width: 200px;
  cursor: auto;
  background-color: #111;
  margin-bottom: 12px;
}
.containertile .smalltile {
  height: 94px;
  width: 94px;
  cursor: pointer;
  background-color: #222;
  float: left;
  margin-bottom: 12px;
}
.containertile .smalltile img {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.containertile .smalltile svg {
  margin: 20%;
  height: 50%;
  width: 50%;
}
.containertile .smalltile path {
  fill: lightgray;
}
.containertile .smalltile:hover path {
  fill: grey;
}
.containertile .smalltile:nth-child(2n) {
  margin-left: 12px;
}
article {
  margin-bottom: 20px;
  background-color: #222;
  padding-left: 20px;
  padding-right: 20px;
}
article header {
  margin-bottom: 10px;
}
article footer {
  margin-top: 50px;
}
article div.content {
  padding: 0 10px;
}
article.content {
  min-height: 200px;
}
article.content header h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 25px;
}
article.content header h1.title {
  font-family: 'Lobster', cursie;
  min-width: 200px;
  min-height: 50px;
}
article.content header h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0px;
}
article.content header h2.subtitle {
  font-family: 'Merriweather', serif;
  min-width: 200px;
  /*min-height: 30px;*/
}
article.content section {
  font-family: 'Merriweather', serif;
  min-height: 200px;
}
article.excerpt header h1.title {
  margin-bottom: 10px;
}
article.excerpt header h1.title a:link {
  color: #000000;
  text-decoration: none;
}
article.excerpt header h1.title a:hover {
  text-decoration: underline;
}
article.excerpt header h2 {
  margin-top: 10px;
}
