<article class="content">
    <header>
        <h1 class="title editable" contenteditable="true" data-placeholder="Title">Title</h1>
        <h2 class="subtitle editable" contenteditable="true" data-placeholder="Subtitle">subtitle</h2>
    </header>
    <section class="editable" contenteditable="true" data-placeholder="Write your post">
        Write your post.
    </section>
</article>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

