<article class="content">
    <header>
        <h1 class="editable title" data-medium-placeholder="Title"></h1>
        <h2 class="editable subtitle" data-medium-placeholder="Subtitle"></h2>
    </header>
    <section class="editable">
    </section>
</article>

<script>
    $(function () {
        new Medium({
            element: document.querySelector('article.content header h1.editable'),
            mode: 'inline'
        })
        new Medium({
            element: document.querySelector('article.content header h2.editable'),
            mode: 'inline'
        })
        new Medium({
            element: document.querySelector('article.content section.editable'),
            autofocus: true,
            placeholder: 'Write your post.',
            modifiers: {
                188: XMedium.modifiers.linkify
            }
        })
    })
</script>



