@model BenCollins.Web.Model.Post

@{
    ViewBag.Title = "Create";
    
}

@section head {
    @Styles.Render("~/Content/grandejs")
}

@section scripts {
    @Scripts.Render("~/Scripts/grande.js")

    <script type="text/javascript">
        $(function () {
            grande.bind(document.querySelectorAll("article"));
        })
    </script>
}

<article contenteditable="true"></article>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
