@import "bootstrap/bootstrap.less";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.sidebar.panel {
    .sidebar-widget {
        margin-top: 7px;
        margin-bottom: 4px;
        margin-right: 0px;
        margin-left: auto;

        &:first-of-type {
            margin-top: inherit;
            margin-top: inherti;
        }        
    }
}

.sidebar-widget {
    ul.nav-stacked  {
        text-align: right;
    }

    &.social {
        .text-center();

        img {
            width: 36px;
        }
    }
}

.mobile-header {
    .center-block();
    text-align: center;
}

a.nav-link {
    span {
        margin-right: 4px;
    }

    &.active {
        text-decoration: none;
        color: @text-color;
        background-color: @nav-link-hover-bg;
        
        &:hover {
            color: @text-color;
        }
    }
}