@model BenCollins.Web.ViewModel.PostViewModel

<article>
    <header>
        <h2>@Html.ActionLink(Model.Title, "Details", "Post", new { slug = Model.Slug }, null)</h2>
        <span>@(Model.ModifiedDate.HasValue ? String.Format("Updated {0:g}", Model.ModifiedDate.Value) : String.Format("Posted {0:g}", Model.CreationDate))</span>
    </header>
    <div class="content">
        @Model.BodyExcerpt
    </div>
    <footer>
        @if (Model.Excerpted)
        {
            @:@Html.ActionLink("read more...", "Details", "Post", new { slug = Model.Slug }, null)
        }
    </footer>
</article>
