@model BenCollins.Web.Model.Post
@{
    var md = new MarkdownSharp.Markdown();
    var excerptEnd = Model.Body.IndexOf("^^^");
}

<h2>@Model.Title</h2>
<span>posted @Model.CreationDate</span>
<hr />
<article>
    @(new HtmlString(md.Transform(Model.Body.Substring(0, excerptEnd > 0 ? excerptEnd : Model.Body.Length)))))
    @if (Model.Body.Length > 2048)
    {
        Html.ActionLink("read more...", "Details", "Post", new { slug = Model.Slug }, null);
    }   
</article>

