<nav class="nav" role="navigation">
    <ul class="nav nav-pills nav-stacked">
        <li>@Html.NavLink("Index", "Admin", "dashboard", "glyphicon-dashboard")</li>
        <li>@Html.NavLink("Create", "Post", "write post", "glyphicon-edit")</li>
        <li>@Html.NavLink("LogOff", "Admin", "logout", "glyphicon-log-out")</li>
    </ul>
</nav>     