<nav class="nav nav-pills nav-stacked" role="navigation">        
    <ul class="nav navbar-nav">
        <li class="active">@*<a href="@Url.Action("Index", "Admin")">Dashboard</a>*@</li>
        <li>@*<a href="@Url.Action("Create", "Post")"><span class="glyphicon glyphicon-edit"></span><span>Write Post</span></a>*@</li>
        <li>@*<a href="@Url.Action("LogOff", "Admin")"><span class="glyphicon glyphicon-logout"></span><span>Logout</span></a>*@</li>
    </ul>            
</nav>
