@model List<BlogOne.Shortner.Model.ShortUrl>
@{
    ViewBag.Title = "Url Management";
}

<h2>Url Management</h2>

@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "url-tablebody"

}))
{
    <input type="url" name="url" />
    <input type="submit"/>
}

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Url</th>
            <th>Last Modified</th>
            <th>Enabled</th>
        </tr>
    </thead>
    <tbody id="url-tablebody">
        @if (Model != null)
        {
            foreach (var url in Model)
            {
                <tr>
                    <td>@url.ShortCode</td>
                    <td>@url.Url</td>
                    <td>@(url.CreationDate)</td>
                    <td>@(url.Enabled)</td>
                </tr>
            }
        }
    </tbody>
</table>

