@model IEnumerable<BlogOne.Web.ViewModel.PostViewModel>
@{
    ViewBag.Title = "Ben Collins Home";
}

@foreach (var post in Model)
{
    <div>
        <article class="excerpt">
            <header>
                <h1 class="title">@Html.ActionLink(post.Title, "Details", "Post", new { slug = post.Slug }, null)</h1>
                <h2 class="subtitle">@post.Subtitle</h2>
            </header>
            <footer>
                <span>@(post.ModifiedDate.HasValue ? String.Format("Updated {0:g}", post.ModifiedDate.Value) : String.Format("Posted {0:g}", post.CreationDate))</span>
            </footer>
        </article>
    </div>
}

@*<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'bencollins'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>*@
